@font-face {
  font-family: "Gotham Rounded";
  src: url('../font/rounded_book.ttf') format('truetype');
}
@font-face {
  font-family: "Gotham Rounded";
  src: url('../font/rounded_bold.ttf') format('truetype');
  font-weight: bold;
}
.tinder-container {
  font-family: "Gotham Rounded";
  font-size: 20pt;
}
.tinder {
  height: 100%;
  overflow-y:hidden;
}
.tinder .tinder-image {
  height: 50%;
}
.tinder .tinder-image .tinder-image-bg {
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tinder .tinder-image .tinder-image-bg p {
  font-size: 1em;
}
.tinder .tinder-image .tinder-down-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 50px;
  height: 50px;
  line-height: 55px;
  border-radius: 25px;
  font-size: 1em;
  text-align: center;
  padding-left: 2px;
}
.tinder .tinder-content {
  border-top: 1px solid rgb(235, 235, 235);
  padding-top: 10px;
  color: rgb(124, 124, 124);
}
.tinder .tinder-content p {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 10px;
  word-wrap: break-word;
  font-size: 0.6em;
}
.tinder .tinder-content .tinder-name-age {
  font-size: 1em;
  margin-bottom: 0px;
  color: rgb(66,66,66);
}
.tinder .tinder-content .tinder-name-age .tinder-name {
  font-weight: bold;
}
.tinder .tinder-content .tinder-bio {
  border-top: 1px solid rgb(235, 235, 235);
  padding-top: 10px;
}
.tinder-controls {
  height: 3.46em;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -3.46em;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255, 255, 255, 1));
}
.tinder-controls .tinder-control {
  width: 1.6666em;
  height: 1.6666em;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  border-radius: 70px;
}
.tinder-controls .tinder-skip {
  margin-left: 0.48em;
  line-height: 1.79em;
  background-color: rgb(255, 107, 107);
}
.tinder-controls .tinder-like {
  background-color: rgb(76, 204, 145);
  float: right;
  line-height: 1.9em;
  margin-right: 0.48em;
}
.phone-wrapper {
  width: 428px;
  height: 889px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.phone {
  position: relative;
  top: 0px;
  left: 0px;
  width: 428px;
  height: 889px;
  background: none;
}
.phone-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tinder-container {
  position: absolute;
  top: 109px;
  left: 27px;
  width: 375px;
  height: 669px;
  border: 0;
}

@media only screen and (max-width : 460px) {
  .phone-wrapper {
    width: 321px;
    height: 666.75px;
  }
  .phone {
    width: 321px;
    height: 666.75px;
  }
  .tinder-container {
    width: 281.25px;
    height: 501.75px;
    top: 81.75px;
    left: 20.25px;
    font-size: 15pt;
  }
}

@media only screen and (max-width : 320px) {
  .phone-wrapper {
    width: 214px;
    height: 444.5px;
  }
  .phone {
    width: 214px;
    height: 444.5px;
  }
  .tinder-container {
    width:187.5px;
    height: 334.5px;
    top: 54.5px;
    left: 13.5px;
    font-size: 10pt;
  }
}
@media print {
    .phone-wrapper {
      page-break-after: always;
      /*position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);*/
    }
    body {
      -webkit-print-color-adjust: exact;
    }
}
