{% extends "boneweb/simple.html" %}
{% block content %}
<h1>Quotes</h1>
<br>

<div class="row">
{% for q in quotes %}
  <div class="col-md-4">

  {% if q.public %}
    <div class="thumbnail quote">
      <div class="caption">
        <h3>"{{q.text}}"</h3>
        <h4 class="text-right">- {{q.author.name}}</h4>
      </div>
    </div>
  {% else %}
    <div class="thumbnail quote-private">
      <div class="caption">
        <h3>"{{q.text}}"</h3>
        <h4 class="text-right">- {{q.author.name}}</h4>
      </div>
    </div>
  {% endif %}
  </div>
{% endfor %}
</div>

{% endblock %}
