{% extends "boneweb/simple.html" %}
{% load thumbnail %}
{% load cache %}
{% block content %}
{% cache 60 residents request.resolver_match.url_name year %}
<h1>Residents</h1>
<ul class="nav nav-tabs nav-justified resident-year-nav">
  <li role="presentation" {% if request.resolver_match.url_name == 'residents' %}class="active"{% endif %}><a href="{% url 'residents' %}">Current</a></li>
  {% for the_year in all_years %}
  <li role="presentation" {% if the_year|stringformat:"i" == year %}class="active"{% endif %}><a href="{% url 'residents_by_year' the_year %}">{{ the_year }}</a></li>
  {% endfor %}
  {% if alumni.count %}
  <li role="presentation" {% if request.resolver_match.url_name == 'alumni' %}class="active"{% endif %}><a href="{% url 'alumni' %}">Alumni</a></li>
  {% endif %}
</ul>
<div class="row resident">
  {% for resident in residents %}
  
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <img class="img-responsive" src="{{ resident.picture.url }}" />
          <div class="overlay">
             <h2>{{ resident.name }}</h2>
             <p class="info">{{ resident.bio }}</p> 
          </div>
      </div>
  </div>


<!--   <div class="col-md-8">
    <h2>{{ resident.name }} - {{ resident.kerberos }}{% if not year %} (<a href="{% url 'residents_by_year' resident.year %}">{{ resident.year }}</a>){% endif %}</h2>
    <p>
      {{ resident.bio | default:"No bio available." | linebreaks }}
    </p>
  </div> -->
  {% endfor %}
</div>
{% endcache %}
{% endblock %}
