{% extends "boneweb/layout.html" %}
{% block body %}
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted pull-left">Burton One</h3>
    <nav>
      <ul class="nav nav-pills pull-right">
        {% for rule, name in menu %}
        <li role="presentation"
          {% if request.resolver_match.url_name in rule %}class="active"{% endif %}>
          <a href="{% url rule.0 %}">{{name}}</a>
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
        <li role="presentation"
          {% if request.resolver_match.url_name == 'profile' %}class="active"{% endif %}>
          <a href="{% url 'profile' %}">Profile</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="footer">
    <p class="pull-right">
      {% if user.is_authenticated %}
      {% if user.is_staff %}
      <a href="{% url 'admin:index' %}" class="admin-link">Admin</a>
      {% endif %}
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Residents Only</a>
      {% endif %}
    </p>
    <p>&copy; 2016 Burton One</p>
  </footer>
</div>
{% endblock %}
