{% extends "boneweb/simple.html" %}
{% load bootstrap %}
{% load thumbnail %}
{% block content %}
{% if resident.picture %}
<div class="pull-right" style="margin-left: 20px; margin-bottom: 10px;">
  {% thumbnail resident.picture "x400" as im %}
  <img src="{{ im.url }}" style="max-height: 200px;" />
  {% endthumbnail %}
</div>
{% endif %}
<h1>{{ resident.kerberos }}'s Profile</h1>
<p>
  Year: {{ resident.year }}
</p>
{% if resident.tinder %}
<div class="alert alert-info">
  <h3 style="margin-top: 0;">We see you started your Tinder profile!</h3>
  <p>
    For floor rush this year, we're going with Tinder profiles.
    Create yours on the site, and it will be printed out just like the Humans of Burton One posters.
  </p>
  <a class="btn btn-default" href="{% url 'tinder' %}" role="button">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Update It
  </a>
</div>
{% else %}
<div class="alert alert-danger">
  <h3 style="margin-top: 0;">Tinder Profiles are up!</h3>
  <p>
    For floor rush this year, we're going with Tinder profiles.
    Create yours on the site, and it will be printed out just like the Humans of Burton One posters.
  </p>
  <a class="btn btn-default" href="{% url 'tinder' %}" role="button">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Create Yours
  </a>
</div>
{% endif %}
<form role="form" method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
    <legend style="clear:none;">Update</legend>
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}
