{% extends "boneweb/simple.html" %}
{% load bootstrap %}
{% load thumbnail %}
{% load static %}
{% block content %}
<h1>Your Tinder</h1>
{% if resident.tinder.completed %}
<div class="alert alert-success" role="alert">
  <h3 style="margin-top: 0;"><i class="fa fa-check" aria-hidden="true"></i> Tinder complete</h3>
  <p>
    Your Tinder has all the nessecary info and will be printed!
  </p>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  <h3 style="margin-top: 0;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Tinder not yet complete</h3>
  <p>
    In order for your Tinder to be complete it must have a name, age, location, bio, and picture.<br />
    Please complete all of it for it to be printed.
  </p>
</div>
{% endif %}
<div class="row">
  <div class="col-md-6">
    <form role="form" method="post" enctype="multipart/form-data" action="{% url 'tinder' %}">
        <legend style="clear:none;">Update</legend>
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
  <div class="col-md-6">
    <legend style="clear:none;">Preview</legend>
    {% include "portalweb/tinder_phone.html" with tinder=resident.tinder %}
  </div>
</div>
{% endblock %}
