{% load thumbnail %}
{% load static %}
<div class="phone-wrapper">
  <div class="phone">
    <img src="{% static 'img/iphone6-front-black.png' %}" class="phone-image" />
    <div class="tinder-container">
      <div class="tinder">
        <div class="tinder-image">
          {% if tinder.picture %}
            {% thumbnail resident.tinder.picture "x400" as im %}
            <div class="tinder-image-bg" style="background-image: url({{ im.url }});"></div>
            {% endthumbnail %}
          {% else %}
          <div class="tinder-image-bg">
            <p>Upload A Picture</p>
          </div>
          {% endif %}
          <div class="tinder-down-btn"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        </div>
        <div class="tinder-content">
          <p class="tinder-name-age"><span class="tinder-name">{{ tinder.name }}</span>, {{ tinder.age|default:"Age" }}</p>
          <p class="tinder-distance">{{ tinder.location|default:"Location" }}</p>
          <p class="tinder-bio">{{ tinder.bio|default:"Bio"|linebreaksbr }}</p>
        </div>
      </div>
      <div class="tinder-controls">
        <div class="tinder-like tinder-control"><i class="fa fa-heart" aria-hidden="true"></i></div>
        <div class="tinder-skip tinder-control"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</div>
